<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>More Recipes | View Recipe</title>
        <link rel="stylesheet" href="styles/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="styles/font-awesome-4.7.0/css/font-awesome.min.css"/>        
        <link rel="stylesheet" href="styles/recipestyle.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"/>
    </head>
    <body>
        <h1 id="recipe-title">Recipe Title</h1>
        <div id="recipe-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante urna, tempor ac blandit non, aliquet eu velit. Quisque pulvinar odio nec quam auctor, sed vestibulum diam suscipit. Nam sagittis risus ut dignissim gravida. Morbi sagittis ipsum nec ornare iaculis. Etiam dignissim vitae sem at tempor. Phasellus vehicula, lacus tincidunt laoreet auctor, tellus diam fermentum felis, at mollis lorem magna vitae eros. Integer sodales eget nisl vitae efficitur. Morbi eget nunc commodo, mattis ex sed, placerat neque. Vivamus et dignissim arcu. Phasellus lacinia, augue nec bibendum rutrum, nunc ipsum congue magna, ac vehicula sem ex varius ligula. Integer sed lacinia turpis. Etiam vel enim et ipsum fermentum ultrices. Sed egestas neque sed turpis rutrum, auctor lobortis tortor iaculis. Sed vehicula turpis sodales, dignissim nunc nec, efficitur ex. Cras et ullamcorper velit, sit amet laoreet risus.</p>
            <span class="fa fa-thumbs-o-up fa-lg btn btn-info">Upvote</span><span class="fa fa-thumbs-o-down fa-lg btn btn-info">Downvote</span><input type="button" value="Provide review" class="btn btn-info"/>
        </div>
        <div id="table-reviews">
            <table>
                <tbody>
                    <tr><td class="reviews">Review 1</td></tr>
                    <tr><td><hr></td></tr>
                    <tr><td class="reviews">Review 2</td></tr>
                    <tr><td><hr></td></tr>
                    <tr><td class="reviews">Review 3</td></tr>
                    <tr><td><hr></td></tr>
                </tbody>
            </table>
        </div>      
    </body>
</html>