body
{
    background:url("../images/food1.jpeg") no-repeat center center fixed!important;
    background-size: cover !important; 
}

#index-nav
{
    background-color: #515A5A !important;
}

.jumbotron
{
    margin-top: 20px;
}

.fixed-bottom
{
    background-color: #515A5A;
    text-align: center;
    border-radius: 20px
}